<div class="Menu">新規会員登録</div>
<%= form_with model: @customer, url: customers_path, id: 'new_user', class: 'new_user container', local: true do |f| %>
<%= render "admin/shared/error_messages", resource: resource %>
<div class="row my-3">
  <%= f.label "名前", class: "col-2" %>
  (姓)<%= f.text_field :firstname, autofocus: true, class: "form-control col-4", placeholder: "令和" %>
  (名)<%= f.text_field :lastname, autofocus: true, class: "form-control col-4", placeholder: "道子" %>
</div>
<div class="row my-3">
  <%= f.label "フリガナ", class: "col-2" %>
  (セイ)<%= f.text_field :kana_firstname, autofocus: true, class: "form-control col-4", placeholder: "レイワ" %>
  (メイ)<%= f.text_field :kana_lastname, autofocus: true, class: "form-control col-4", placeholder: "ミチコ" %>
</div>
<div class="row my-3">
  <%= f.label :email, "メールアドレス",class: "col-2" %>
  <%= f.email_field :email, autofocus: true, class: "form-control col-4", placeholder: "sample@sample.com" %>
</div>
<div class="row my-3">
  <%= f.label :postcode,'郵便番号(ハイフンなし)', class: "col-2" %>
  <%= f.text_field :postcode, autofocus: true, class: "form-control col-4", id: "user_postcode", placeholder: "0000000" %>
</div>
<div class="row my-3">
  <%= f.label :address,'住所', class: "col-2" %>
  <%= f.text_field :address, autofocus: true, class: "form-control col-8", id: "user_address", placeholder: "東京都渋谷区代々木新園町0-0" %>
</div>
<div class="row my-3">
  <%= f.label :phone_number,'電話番号', class: "col-2" %>
  <%= f.text_field :phone_number, autofocus: true, class: "form-control col-4", placeholder: "00000000000" %>
</div>
<div class="row my-3">
  <div class="col-2">
    <%= f.label "パスワード" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
  </div>
  <%= f.password_field :password, autocomplete: "off", class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.label "パスワード(確認用)", class: "col-2" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.submit "新規登録" ,class: 'btn-lg btn-sm btn-success offset-2 col-3' %>
</div>
</div>
<% end %>
<div class="row">
  <div class="Menu">すでに登録済みの方</div>
</div>
<div class="row"><%= render "admin/shared/links" %>からログインしてください</div>